<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container">
            <a class="nav-brand">
                <img src="./assets/images/logo.png" class="me-3" alt="logo">
            </a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" style="cursor: pointer;">
                        <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item" style="cursor: pointer;">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active">
                            About
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav" *ngIf="(accountService.user$ | async) === null">
                    <li class="nav-item">
                        <a class="btn btn-primary mx-2" routerLink="/account/register" routerLinkActive="active">
                            Create account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" routerLink="/account/login" routerLinkActive="active">
                            Login
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav" *ngIf="(accountService.user$ | async) as user">
                    <li class="nav-item mx-3">
                        <span class="h3 text-danger">
                            {{user.firstName | titlecase}}
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" (click)="logout()">
                            LogOut
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</header>