<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
                <div class="text-center mb-4">
                    <h3 class="mb-3 font-weight-normal">Register</h3>
                </div>
                <div class="form-floating mb-2 input-center">
                    <input formControlName="firstName" type="text" class="form-control"
                    placeholder="First Name" [class.is-invalid]="submitted && registerForm.get('firstName')?.errors">
                    <label for="firstName">First Name</label>
                    <span class="text-danger mt-2" *ngIf="submitted && registerForm.get('firstName')?.hasError('required')">
                        First name is required
                    </span>
                    <span class="text-danger mt-2" *ngIf="submitted && (registerForm.get('firstName')?.hasError('minlength') || registerForm.get('firstName')?.hasError('maxlength'))">
                        First name must be at least 3 and maximum 20 characters
                    </span>
                </div>
                <div class="form-floating mb-2 input-center">
                    <input formControlName="lastName" type="text" class="form-control" 
                    placeholder="Last Name" [class.is-invalid]="submitted && registerForm.get('lastName')?.errors">
                    <label for="lastName">Last Name</label>
                    <span class="text-danger mt-2" *ngIf="submitted && registerForm.get('lastName')?.hasError('required')">
                        Last name is required
                    </span>
                    <span class="text-danger mt-2" *ngIf="submitted && (registerForm.get('lastName')?.hasError('minlength') || registerForm.get('lastName')?.hasError('maxlength'))">
                        Last name must be at least 3 and maximum 20 characters
                    </span>
                </div>
                <div class="form-floating mb-2 input-center">
                    <input formControlName="email" type="text" class="form-control" 
                    placeholder="Email" [class.is-invalid]="submitted && registerForm.get('email')?.errors">
                    <label for="userName">Email</label>
                    <span class="text-danger mt-2" *ngIf="submitted && registerForm.get('email')?.hasError('required')">
                        Email is required
                    </span>
                    <span class="text-danger mt-2" *ngIf="submitted && registerForm.get('email')?.hasError('pattern')">
                        Invalid email address
                    </span>
                </div>

                <div class="form-floating mb-2 input-center">
                    <input formControlName="password" type="password" class="form-control" 
                    placeholder="Password" [class.is-invalid]="submitted && registerForm.get('password')?.errors">
                    <label for="password">Password</label>
                    <span class="text-danger mt-2" *ngIf="submitted && registerForm.get('password')?.hasError('required')">
                        Password is required
                    </span>
                    <span class="text-danger mt-2" *ngIf="submitted && (registerForm.get('password')?.hasError('minlength') || registerForm.get('password')?.hasError('maxlength'))">
                        Password must be at least 6 and maximum 20 characters
                    </span>
                </div>

                <div class="form-floatin" *ngIf="errorMessages.length > 0">
                    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                </div>
                <div class="d-grid mt-4 px-1">
                    <button class="btn btn-primary btn-lg-btn-info" type="submit">Create Account</button>
                </div>
            </form>

            <div class="mt-4 text-center">
                <a class="btn btn-link text-decoration-none">
                    <h6>Sign up with Google</h6>
                </a>
            </div>
        </main>
    </div>
</div>